<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA Thinks you were angry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/anger.css">
</head>
<body>
    <header>
        <h1>Let's play a mini game to release your anger...</h1>
    </header>
    <div class="row">
        <div class="column">
            <h2>Some Tips for you to manage your anger:</h2>
            <h3>1. Count down</h3>
            <h4>Count down (or up) to 10. If you’re really mad, start at 100. In the time it takes you to count, your heart rate will slow, and your anger will likely subside.</h4>
            <h3>2. Take a breather</h3>
            <h4>Your breathing becomes shallower and speeds up as you grow angry. Reverse that trend (and your anger) by taking slow, deep breaths from your nose and exhaling out of your mouth for several moments.</h4>
            <h3>3. Relax your muscles</h3>
            <h4>Progressive muscle relaxation calls on you to tense and slowly relax various muscle groups in your body, one at a time. As you tense and release, take slow, deliberate breaths.</h4>
            <h5>From https://www.healthline.com/health/mental-health/how-to-control-anger</h5>
        </div>
        <div class="column" >
            <a href="joy.html">I feel better now:)</a>
            <canvas width="400" height="400" id="game"></canvas>
            <script src="../../static/js/anger.js"></script>
        </div>
    </div>

</body>
</html>