<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA Thinks you were afraid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/fear.css">
</head>
<body>
    <header>
        <h1>Puppies and Companies will release your fear:)</h1>
    </header>
    <div class="row">
        <div class="column">
            <h2>Puppies make you feel warm</h2>
            <img src="../../static/jpg/img0.jpg" id="myImage" width="500" height="350">
            <br>
            <input type="button" onclick="changeImage()" value="More Puppies!" />
            <script src="../../static/js/fear.js"></script>
        </div>
        <div class="column" >
            <h2>
            Want to have a talk?
            </h2>
            <input type="button" id = "btnWA" onclick="window.open('https://assistant-chat-us-south.watsonplatform.net/web/public/6f7cc1af-4e72-4d5a-819e-2f454df34a11');" value="Talk to a therapist!" />
            <br>
            <a href="joy.html">I feel better now:)</a>
        </div>
    </div>
</body>
</html>