<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/index.css">
</head>
<body>
    <header>
        <h1>Welcome to Project SASRA</h1>
    </header>
    <div class="row">
        <div class="column">
            <p>
            Emotional Healing and Recovery are essential for the victims of natural disasters such as hurricanes, earthquakes, or wildfires. However, not everyone can find a good therapist. Project SASRA thus aims to provide more convenient therapeutic solutions with Trustworthy AIs.
            </p>
            <a href="start.html">START</a>
        </div>
        <div class="column" >
            <video width="320" height="240" id="demo" controls>
                <source src="../../static/mp4/demo.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <h3>A video demo</h3>
        </div>
    </div>

    <script src="../../static/js/index.js"></script>
    <div class="footer">
        <h2>HackRPI 2019</h2>
    </div>

</body>
</html>