<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA Thinks you were happy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/joy.css">
</head>
<body>
    <header>
        <h1>Share your happiness with other people, and you will become even happier!</h1>
    </header>
    <div class="row">
        <div class="column">
            <h2>Some Tips for maintaining happiness:</h2>
            <h3>1. Taking Care of Yourself</h3>
            <h4>Get enough sleep every night, floss regularly, eat healthful foods, and take care of your personal appearance. Doing so will help keep your mood elevated.</h4>
            <h3>2. Accentuating the Positive</h3>
            <h4>To stay positive and maintain your happiness no matter what, it is important to recognize your value and learn to appreciate yourself. Having self-worth means that you do not base your value on what other people think of you, the job or title you have, or any other external factor.</h4>
            <h3>3. Handling Stress</h3>
            <h4>Managing stress is crucial for being happy. To ensure that you have your stress under control, try to make time to relax every day, even if you only have a few minutes.</h4>
            <h5>From https://www.wikihow.com/Maintain-Happiness-No-Matter-What</h5>
        </div>
        <div class="column" >
            <h2>
            Want to hear some jokes?
            </h2>
            <input type="button" id = "btnWA" onclick="window.open('https://assistant-chat-us-south.watsonplatform.net/web/public/6f7cc1af-4e72-4d5a-819e-2f454df34a11');" value="Talk to a funny chatbot!" />
            <br>
            <a href="index.html">Let's try it again!</a>
        </div>
    </div>
    <p> :)</p>
</body>
</html>