<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA Thinks you were sad</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../static/css/sadness.css">
</head>
<body>
    <header>
        <h1>Listen to the rain and listen to your heart!</h1>
    </header>
    <div class="row">
        <div class="column">
            <h3>Rain Drops</h3>
            <audio controls>
                <source src="../../static/mp3/rain.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <h3>Heavy Rain</h3>
            <audio controls>
                <source src="../../static/mp3/rain1.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <h3>Street Rain</h3>
            <audio controls>
                <source src="../../static/mp3/rain2.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>
            <h3>Forest Rain</h3>
            <audio controls>
                <source src="../../static/mp3/rain3.mp3" type="audio/mp3">
                Your browser does not support the audio element.
            </audio>

        </div>
        <div class="column" >
            <h2>
            Want to have a talk?
            </h2>
            <input type="button" id = "btnWA" onclick="window.open('https://assistant-chat-us-south.watsonplatform.net/web/public/6f7cc1af-4e72-4d5a-819e-2f454df34a11');" value="Talk to a therapist!" />
            <br>
            <a href="joy.html">I feel better now:)</a>
        </div>
    </div>



</body>
</html>