<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SASRA wants to read your emotions</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../static/css/start.css">
</head>
<body>
    <header>
        <h1>Headings</h1>
    </header>
    <main>
        <p>
            Instructions
        </p>
        <p><button id="btnStart">START RECORDING</button><br/>
        <button id="btnStop">STOP RECORDING</button></p>
    </main>
    <script src="../../static/js/start.js"></script>
</body>
</html>